{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- PAGE HEADING -->
<div class="impx-page-heading uk-position-relative room-detail">
    <div class="impx-overlay dark"></div>
    <div class="uk-container">
        <div class="uk-width-1-1">
            <div class="uk-flex uk-flex-left">
                <div class="uk-light uk-position-relative uk-text-left page-title">
                    <h1 class="uk-margin-remove">{{ booking.get_room_category }}</h1><!-- page title -->
                    <p class="impx-text-large uk-margin-remove">Browse &amp; Choose Your Choice</p>
                    <!-- page subtitle -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE HEADING END -->

<!-- CONTENT -->
<div class="uk-padding vert uk-padding-remove-horizontal">
    <div class="uk-container">
        <div data-uk-grid>

            <div class="uk-width-1-1 uk-margin-medium-top">
                <!-- slider -->
                <div class="impx-room-slider">
                    <div class="uk-position-relative" data-uk-slideshow="animation: fade">
                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="{% static 'images/rooms/room-detail-1.jpg' %}" alt="" data-uk-cover>
                                <div class="impx-overlay"></div>
                            </li>
                            <li>
                                <img src="images/rooms/room-detail-2.jpg" alt="" data-uk-cover>
                                <div class="impx-overlay"></div>
                            </li>
                            <li>
                                <img src="images/rooms/room-detail-3.jpg" alt="" data-uk-cover>
                                <div class="impx-overlay"></div>
                            </li>
                            <li>
                                <img src="images/rooms/room-detail-4.jpg" alt="" data-uk-cover>
                                <div class="impx-overlay"></div>
                            </li>
                            <li>
                                <img src="images/rooms/room-detail-5.jpg" alt="" data-uk-cover>
                                <div class="impx-overlay"></div>
                            </li>
                        </ul>
                        <!-- slider thumb nav -->
                        <div class="uk-position-center-left uk-position-medium">
                            <ul class="uk-thumbnav uk-thumbnav-vertical">
                                <li data-uk-slideshow-item="0"><a href="#"><img src="images/rooms/room-detail-1.jpg"
                                            width="120" alt=""></a></li>
                                <li data-uk-slideshow-item="1"><a href="#"><img src="images/rooms/room-detail-2.jpg"
                                            width="120" alt=""></a></li>
                                <li data-uk-slideshow-item="2"><a href="#"><img src="images/rooms/room-detail-3.jpg"
                                            width="120" alt=""></a></li>
                                <li data-uk-slideshow-item="3"><a href="#"><img src="images/rooms/room-detail-4.jpg"
                                            width="120" alt=""></a></li>
                                <li data-uk-slideshow-item="4"><a href="#"><img src="images/rooms/room-detail-5.jpg"
                                            width="120" alt=""></a></li>
                            </ul>
                        </div>
                        <!-- slider thumb nav end -->
                    </div>
                </div>
                <!-- slider end -->
            </div>

            <!-- MAIN CONTENT -->
            <div class="uk-width-3-3@xl uk-width-3-3@l uk-width-3-3@m uk-width-1-1@s">
                <!-- highlight -->
                <ul class="uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-medium uk-grid-match"
                    data-uk-grid>
                    <li class="uk-text-center">
                        <div class="uk-card uk-card-default uk-card-body impx-padding-medium">
                            <!-- highlight item #1 -->
                            
                            <h6 class="uk-margin-remove-bottom uk-margin-small-top">Are you sure you want to cancel booking Details:</h6>
                            <p class="uk-margin-remove-bottom uk-margin-small-top">{{ booking.room.number }}&nbsp;{{ booking.get_room_category}} &nbsp; from-{{ booking.check_in}} to-{{ booking.check_out }}</p>
                        </div>
                    </li><!-- highlight item #1 end -->
                    <li class="uk-text-center">
                        <!-- highlight item #2 -->
                        <form action="." method="post" class="uk-card uk-card-default uk-card-body impx-padding-medium">
                            {% csrf_token %}
                            <div class="uk-margin">
                            </div>
                            <label class="uk-form-label empty-label">&nbsp;</label>
                            <button type="submit" class="uk-button uk-width-1-1">Cancel Booking!</button>
            </div>
            </form>
            </li><!-- highlight item #2 end -->


            </ul>
            <!-- highlight end -->
            <hr class="uk-divider-icon">

            <!-- Review -->
        </div>
    </div>

</div>
</div>
</div>
</div>
<!-- CONTENT END -->

{% endblock %}